<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="russianapp.tools.guitar_tunings">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".Global"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9163301852390874~5151523404"/>

        <activity android:name=".StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PTuneActivity"
            android:configChanges="locale|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>

    </application>

</manifest>